@using WebClassField.Controllers
@model ClassField.TableOfResult

@{
    ViewBag.Title = "Таблица жюри" + Model.Competitions;
    Layout = "_Layout";
}

<h2>Таблица @Model.Competitions</h2>

@Model.CategoryCompetition
@Model.DateCompetition  

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <td>Название жюри</td>
            <td>Имена жюри</td>
            
        </tr>
    </thead>
    @foreach (var sm in Model.NameJury)
    {
    <tr>
        <td>@sm.NameJury</td>
        <td>@UploadController.ToStringJury(sm.ListJury)</td>
        <td>@sm.Photo</td>
    </tr>
    }
</table>